In [2]:
#import libaries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn
import missingno as msno

In [13]:
#read in file
df = pd.read_csv('Chicago-Divvy-2016.csv')
df.head()

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
0,9080545,3/31/2016 23:30,3/31/2016 23:46,2295,926,156,Clark St & Wellington Ave,166,Ashland Ave & Wrightwood Ave,Subscriber,Male,1990.0
1,9080521,3/31/2016 22:59,3/31/2016 23:02,3439,198,259,California Ave & Francis Pl,276,California Ave & North Ave,Subscriber,Male,1974.0
2,9080479,3/31/2016 22:24,3/31/2016 22:26,4337,124,344,Ravenswood Ave & Lawrence Ave,242,Damen Ave & Leland Ave,Subscriber,Female,1992.0
3,9080475,3/31/2016 22:22,3/31/2016 22:41,3760,1181,318,Southport Ave & Irving Park Rd,458,Broadway & Thorndale Ave,Subscriber,Female,1979.0
4,9080443,3/31/2016 22:08,3/31/2016 22:19,1270,656,345,Lake Park Ave & 56th St,426,Ellis Ave & 60th St,Subscriber,Female,1997.0

In [17]:
#check shape and general desription of data
print(df.shape)
print(df.describe())

(72131, 12)
            trip_id        bikeid  tripduration  from_station_id  \
count  7.213100e+04  72131.000000  72131.000000     72131.000000
mean   1.080197e+07   2966.389472    993.817762       178.197391
std    1.261951e+06   1674.490919   1970.898086       127.282634
min    8.547222e+06      1.000000     60.000000         2.000000
25%    9.730023e+06   1523.000000    408.000000        74.000000
50%    1.082273e+07   3026.000000    701.000000       157.000000
75%    1.189510e+07   4381.000000   1174.000000       268.000000
max    1.297909e+07   5919.000000  86365.000000       620.000000

       to_station_id     birthyear
count   72131.000000  54986.000000
mean      177.351264   1980.423799
std       127.515457     10.823393
min         2.000000   1899.000000
25%        73.000000   1975.000000
50%       156.000000   1984.000000
75%       268.000000   1989.000000
max       620.000000   2000.000000

In [ ]:
#check for na values